<div class="page-body box-infor-field tab-wrapper tab-page-list">
  <app-card [title]="'pageTitle.page' | translate">
    <form class="form-inline card-header card-search">
      <div class="form-group">
        <input name="keyword" type="text" [placeholder]="'label.searchInput' | translate" class="form-control"
          [(ngModel)]="keyword">
      </div>
      <div class="form-group ml-3">
        <med-select [data]="[{id: true, text: 'Kích hoạt'}, {id: false, text: 'Chưa kích hoạt'}]"
          [title]="'-- Tất cả --'" [(value)]="isActive"></med-select>
      </div>
      <div class="form-group ml-3">
        <button class="btn btn-primary py-2" (click)="fetch()">
          <i class="feather icon-search"></i>
        </button>
      </div>
      <div class="form-group ml-auto">
        <button class="btn btn-primary float-right py-2" translate="button.createNew" (click)="add()">
        </button>
      </div>
    </form>
    <div class="data-table">
      <data-table [isLoading]="isLoading" [metadata]="metadata" [data]="items" [page]="currentPage" [quantity]="totalRows" (sorted)="onSorted($event)">
        <ng-template cell-template="isActive" let-item>
          <span class="badge" [translate]="item?.isActive ? 'label.actived' : 'label.notActive'"
                [ngClass]="item?.isActive ? 'badge-success' : 'badge-error'"></span>
        </ng-template>
        <ng-template  cell-template="icon" let-item>
          <i class="fa" [ngClass]="item?.icon"></i>
        </ng-template>
        <ng-template cell-template="isShowSidebar" let-item>
          <span class="badge" [translate]="item?.isShowSidebar ? 'label.showed' : 'label.notShow'"
                [ngClass]="item?.isShowSidebar ? 'badge-success' : 'badge-secondary'"></span>
        </ng-template>
        <ng-template cell-template="action" let-item>
          <span  class="common-action" (click)="edit(item)"><i class="feather icon-settings"></i></span>
              <span class="common-action ml-3" (click)="deletePage(item)"><i class="feather icon-trash-2"></i></span>
        </ng-template>
      </data-table>
    </div>
    <div class="m-b-20" *ngIf="totalRows">
      <div *ngIf="totalRows > 1">
        <ngb-pagination class="float-right" [collectionSize]="totalRows" [pageSize]="pageSize" [(page)]="currentPage"
          [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" (pageChange)="loadPage()">
        </ngb-pagination>
      </div>
    </div>
  </app-card>
</div>