<section class="login-block">
    <!-- Container-fluid starts -->
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- Authentication card start -->
          <form class="md-float-material form-material" name="loginForm" #loginForm="ngForm" (ngSubmit)="login()" role="form"   [class.ng-submitted]="loginForm.submitted" autocomplete="off">
            <div class="text-center">
              <img src="assets/images/logo-medlatec.png" width="150px" height="150px" alt="logo.png">
            </div>
            <div class="auth-box card">
              <div class="card-block">
                <div class="row m-b-20">
                  <div class="col-md-12">
                    <h3 class="text-center mt-3">{{'login.title' | translate}}</h3>
                  </div>
                </div>
                <!--<div *ngIf="(isAuthenticated$ | async)">-->
                <!--<span class="bg-color-box col color-success" [style.white-space]="'pre-wrap'"></span>-->
                <!--</div>-->
                <div *ngIf="(error$ | async) as error">
                  <span *ngIf="error && error.error" class="bg-color-box col color-danger" [style.white-space]="'pre-wrap'">
                    {{((error?.error?.error_description === 'invalid_username_or_password') ? 'login.error.invalidUserPassword' : 'login.error.somethingWrong') | translate }}</span>
                </div>
                <div class="form-group form-primary">
                  <input type="text" name="username" [(ngModel)]="credentials.username" class="form-control" required maxlength="100">
                  <span class="form-bar"></span>
                  <span class="txt-required">*</span>
                  <label class="float-label">Tên đăng nhập</label>
                  <div [hidden]="!((loginForm.controls?.username?.touched || loginForm.submitted  ||  loginForm.controls?.username?.dirty) && loginForm.controls?.username?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!loginForm.controls.username?.errors?.required">
                      {{'Thông tin không được để trống' | translate}}
                    </small>
                  </div>
                </div>
                <div class="form-group form-primary">
                  <input type="password" name="password" [(ngModel)]="credentials.password" class="form-control" required>
                  <span class="form-bar"></span>
                  <span class="txt-required">*</span>
                  <label class="float-label">Mật khẩu</label>
                  <div [hidden]="!((loginForm.controls?.password?.touched || loginForm.submitted  ||  loginForm.controls?.password?.dirty) && loginForm.controls?.password?.invalid)">
                    <small class="form-text text-danger"
                           [hidden]="!loginForm.controls.password?.errors?.required">
                      {{'Thông tin không được để trống' | translate}}
                    </small>
                  </div>
                </div>
                <div class="row cm-mgt-25 text-left">
                  <div class="col-12">
                    <div class="checkbox-fade fade-in-primary d-">
                      <label>
                        <input type="checkbox" name="rememberMe" [(ngModel)]="credentials.rememberMe">
                        <span class="cr"><i class="cr-icon fa fa-check txt-primary"></i></span>
                        <span class="text-inverse">Ghi nhớ mật khẩu</span>
                      </label>
                    </div>
                  </div>
                </div>
                <div class="row cm-mgt-30">
                  <div class="col-md-12">
                    <button type="submit" class="btn btn-primary btn-md btn-block text-center m-b-20 ripple light">Đăng nhập</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
          <!-- end of form -->
        </div>
        <!-- end of col-sm-12 -->
      </div>
      <!-- end of row -->
    </div>
    <!-- end of container-fluid -->
  </section>
  